<!DOCTYPE html>
<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
<head>
    <meta charset="utf-8">
    <title>About Me</title>
    <meta name="author" content="Mavlonbek Eraliyev">
    <meta property="og:site_name" content="Mavlonbek's Blog"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="I am Mavlonbek Eraliyev, a 18-year-old Software Engineer from Tashkent, Uzbekistan">
    <meta name="og:image" content="../media/2020/04/12/lazyprogrammer.jpg">
    <link href="../static/assets/css/flexgridcombo.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="../static/assets/css/style67d9.css?version=2" rel="stylesheet">
    <link rel="shortcut icon" type="image/jpg" href="../static/assets/favicon.html">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
<header class="header--title flex align-items-center">
    <div class="container">
        <div class="align-items-center flex">
            <div class="logo-wrapper">
                <a class="logo" href="/">Mavlonbek's Blog</a>
            </div>
            <ul class="nav align-items-center">
                <li><a class="list-item" href="/blog/">Blog</a></li>
            </ul>
            <div class="burger-menu">
                <div class="bar bar--top"></div>
                <div class="bar bar--middle"></div>
                <div class="bar bar--bottom"></div>
            </div>
        </div>
    </div>
</header>
<section class="section-title">
    <div class="container">
        <div class="section-content">
            <h1>About Me</h1>
        </div>
    </div>
</section>
<section id="about-me" class="article-wrapper flex align-items-center" style="padding: 0">
    <div class="container content">
        <div class="row justify-center">
            <article class="col-lg-8 col-md-10 col-12">
                <p>I am Mavlonbek Eraliyev, a 18-year-old <strong>Software Engineer</strong> from Tashkent, Uzbekistan</p>
                <p>I am always contributing to developer events by giving a talk or as a mentor, especially the ones
                    that engage women in tech. As a developer, I really want to see more diversity in the industry. </p>
                <figure>
                    <div class="figure_wrapper"><img src="../media/2020/04/12/djangogirls.jpg"></div>
                    <figcaption>DjangoGirls, Tashkent</figcaption>
                </figure>
                <p>Recently I experimented working standing
                    and found it really useful to stay focused and a little healthier. I was able to transform my
                    workstation with the books I read.</p>
                <figure>
                    <div class="figure_wrapper"><img src="../media/2020/04/12/workstation.png"></div>
                    <figcaption>Super Dispatch, Tashkent office</figcaption>
                </figure>
                <p>I am also known as "<strong>lazy programmer</strong>", very handy nature for programmers. I love
                    repetitive tasks, I see them as an opportunity for automation. Also, whenever I am not working
                    standing, you find me working laying on a sofa.</p>
                <figure>
                    <div class="figure_wrapper"><img src="../media/2020/04/12/lazyprogrammer.jpg"></div>
                    <figcaption>GroundZero Chilanzar, Tashkent</figcaption>
                </figure>
                <p>In short, it's me, Azimjon, a friendly programmer from Uzbekistan. You can read my story of becoming
                    a software engineer <a href="/blog/"
                                           target="_blank">here</a>.</p>
            </article>
        </div>
    </div>
</section>
<footer>
    <div class="container">
        <div class="row">
            <p>
                &copy; 2024 mavlonbek.com
            </p>
        </div>
    </div>
</footer>
<script src="../static/assets/js/ScrollMonitor.min.js"></script>
<script src="../static/assets/js/TweenMax.min.js"></script>
<script src="../static/assets/js/main.js"></script>
</body>

<!-- Mirrored from azimjon.com/about/ by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 27 Apr 2024 08:58:19 GMT -->
</html>
